
/* general */
body {
	font: 100% 'Open Sans', sans-serif;
	background-image: url("../../images/bg.jpg");
	background-attachment: fixed;
    background-position: center;
}

h1, h2, h3 {
	clear: both;
	margin: 0 0 10px 0;
}

/* boards/lists/cards */
section {
	margin: 0;
	padding: 0;
}

.board {
	float: left;
	width: 240px;
	margin: 20px;
	padding: 20px;
	border-radius: 15px;
	border: 1px solid #c0c0c0;
	background: hsla(10, 100%, 100%, 0.8);
}

.tag, .value {
	float: left;
	width: 100px;
}

.tag {
	font-weight: 700;
}